body{
    display:flex;
    margin: 0 0;
    background-color:whitesmoke;
}

a{
    color:white;
}

#left-side {
    width:calc(100%/3);
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('leaf.jpg');
    background-size:cover;
    color:white;
    margin-left:0;
    border:none;
}

#right-side {
    width:calc(100% - 100%/3);
    display:flex;
    flex-direction: column;
    justify-content: space-around;

}

.transparent-black{
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size:xx-large;
    background: rgba(0,0,0, 0.6);
    height:80px;
    text-align:center;
}

form{
    margin:0 0;
    border:0;
}

fieldset{
    display:grid;
    margin:0 0;
    border:0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.footer{
    text-align: center;
    font-size:small;
    margin-bottom:10px;
}

img{
    height:70px;
}

button{
    background-color: #596D48;
    color:whitesmoke;
}

input, label{
    display:block;
}

.login{
    color:#596D48;
    text-decoration: none;
    font-weight: bold;
}